.container {
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
}
[class*="col-"]{
    min-height: 30px;
    background-color: cornflowerblue;
    border: 1px solid white;
}
[class*="inner"]{
    min-height: 25px;
    background-color: tomato;
    border: 1px  solid cornflowerblue;
      
}
.inner-row {
    margin: 3px;
}
.empty {
    width: 100%;
    height: 10px;
}
[class*="offset"]{
    border: 0;
}
.col-left, .col-right {
    width: 25%;
}
.col-center {
    width: 50%;
}
.half {
    width: 50%;
}